/* You can add global styles to this file, and also import other style files */
body {
  background-color: #2196F3;
  min-height: 1000px;
  font-family: 'helvetica neue';
  background: url(./assets/bg-pattern.png), #2196F3;
  background: url(./assets/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#2196F3), to(#009688));
  background: url(./assets/bg-pattern.png), linear-gradient(to left, #2196F3, #009688)
}

